<nav class="menu" id="theMenu">
    <div class="menu-wrap">
      <h1 class="logo"><a>Eric Gonzalez</a></h1>
      <a href="<%=@slash%>#home" class="smoothScroll nav-link">Home</a>
      <a href="<%=@slash%>#about" class="smoothScroll nav-link">About</a>
      <a href="<%=@slash%>#work-experience" class="smoothScroll nav-link">Work Experience</a>
      <a href="<%=@slash%>#portfolio" class="smoothScroll nav-link">Portfolio</a>
      <a href="<%=@slash%>#contact" class="smoothScroll nav-link">Contact</a>
      <a href=<%= ENV['RESUME_LINK'] %> class="nav-link" target="_blank">Resume</a>
      <a href="https://github.com/Twinpair/Personal-Website" class="nav-link" target="_blank">Source Code</a>
      <div id="theme-toggle">
        <h5 >Toggle Dark/Light Mode </h5>
        <a class="toggler">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </div>
      <div id="menu-social">
        <a href="https://github.com/Twinpair/" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/eric-gonzalez-/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.facebook.com/egonzilla" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/e_gonzilla" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/e_gonzilla" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
    <div id="menuToggle"><i class="fa fa-reorder"></i></div>
  </nav>