  <!-- ========== MENU ========== -->
  <nav class="menu" id="theMenu">
    <div class="menu-wrap">
      <h1 class="logo"><a>Eric Gonzalez</a></h1>
      <i class="icon-remove menu-close"></i>
      <a href="#home" target = "blank" class="smoothScroll">Home</a>
      <a href="#about" target = "blank" class="smoothScroll">About</a>
      <a href="#portfolio" target = "blank" class="smoothScroll">Portfolio</a>
      <a href="#contact" target = "blank" class="smoothScroll">Contact</a>
      <a href="https://drive.google.com/file/d/0B-4Vah9LEYrLckRjbmNBM080NmM/view?usp=sharing" target="_blank">Resume</a>
      <a href="https://github.com/Twinpair/" target = "blank"><i class="icon-github"></i></a>
      <a href="https://www.linkedin.com/in/ericgonzalez1994" target = "blank"><i class="icon-linkedin"></i></a>
      <a href="https://www.facebook.com/EricGonzalez1994" target = "blank"><i class="icon-facebook"></i></a>
      <a href="https://twitter.com/twinpaireric" target = "blank"><i class="icon-twitter"></i></a>
      <a href="https://www.instagram.com/ericg_1994/" target = "blank"><i class="icon-instagram"></i></a>
    </div>
    <div id="menuToggle"><i class="icon-reorder"></i></div>
  </nav>


  <!-- ========== HEADER SECTION ========== -->
  <section id="home" name="home"></section>
  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="wp1" style="color: #9696bf; margin-top: 45px;">Eric Gonzalez</h1><br>
          <h3 class="wp1" style="color: #9696bf; margin-bottom: -15px;"><b>Welcome to my website, come in and learn more about me!</b></h3><br><br><br>
          <a href="#about" class="smoothScroll"><%= image_tag "profile.jpg", :class => "img-circle", :style => "width:300px;height:250px" %></a>
        </div>
      </div>
    </div>
  </div>



  <!-- ========== ABOUT SECTION ========== -->
  <section id="about" name="about" ></section>
  <div style="margin-top: -55px;" id="f">
    <div class="container">
      <div class="row">
        <h3>ABOUT ME</h3>
        <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
        <div class="col-lg-8 col-lg-offset-2">
          <p>I'm a software engineer/web developer that enjoys working in environments where I’m constantly needed and depended on. I am self-disciplined and always learning new things to get the job done. Some of my hobbies include hiking and being outdoors in nature, watching/playing sports, and reading up on anything tech! Check out my <a href="https://drive.google.com/file/d/0B-4Vah9LEYrLckRjbmNBM080NmM/view?usp=sharing" target="_blank">resume</a>!</p>
        </div>                
      </div>
    </div>
  </div>


  <!-- ========== PORTFOLIO SECTION ========== -->  
  <section id="portfolio" name="portfolio"></section>
  <section class="latest-articles has-padding alternate-bg" style="background-color: #1a1a1a; margin-top: -55px;" >
    <div class="container text-center">
      <div class="row" id="f">
        <h3>PORTFOLIO</h3>
        <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
        <div class="col-md-4">
          <article class="article-post">
            <a href="http://www.gonzaelectric.com/" target="blank">
              <div class="article-image has-overlay" style="background-image: url(<%= asset_path 'gonzaelectric.png' %>)">
                <span class="featured-tag">Client Work</span>
              </div>
            </a>
            <figure>
              <figcaption>
                <h2 id="project-name">Gonza Electric Business Website</h2>
                <p>This is a business website for an electric contractor's company called Gonza Electric. It showcases their services, bio, testimonials, and contact information. There's also a contact form on the page that saves any service request. This site is search engine optimize to appear on Google and Bing search results with keyword "Electrician" in Los Angeles. </p>
              </figcaption>
            </figure>
            <a href = "http://www.gonzaelectric.com/" target="_blank" class = "pButton">Visit Website</a>&nbsp;&nbsp;
            <a href = "https://github.com/Twinpair/Gonza_Electric" target="_blank" class = "pButton">Source Code</a>&nbsp;&nbsp;
          </article>
        </div>
        <div class="col-md-4">
          <article class="article-post">
            <a href="http://www.videdu.org/" target="blank">
              <div class="article-image has-overlay" style="background-image: url(<%= asset_path 'videdu.png' %>)">
                <span class="featured-tag">Group Project</span>
              </div>
            </a>
            <figure>
              <figcaption>
                <h2 id="project-name">VidEdu (Ruby on Rails)</h2>
                <p>VidEdu is a web application that enables users to take notes side by side with Youtube videos they want to learn from. VidEdu has many cool features, like the ease of pausing videos when a user initiates a keydown event, then resuming the video when the user hits the 'Enter' key. Users can save their notes alongside their videos into a category of their making. Users can then access their notes from their account or download them onto their local drive. We like to think of this website as a Yelp for educational Youtube videos!</p>
              </figcaption>
            </figure>
            <a href = "http://www.videdu.org/" target="_blank" class = "pButton">Visit Website</a>&nbsp;&nbsp;
            <a href = "https://github.com/Twinpair/VidEdu" target="_blank" class = "pButton">Source Code</a>&nbsp;&nbsp;
            <a style="margin-top: 5px;" href = "https://drive.google.com/file/d/0B-4Vah9LEYrLNDhjay13NXA2V1E/view?usp=sharing" target="_blank" class = "pButton">View Documentation</a>
          </article>
        </div>
        <div class="col-md-4">
          <article class="article-post">
            <a href="http://imag-uana.rhcloud.com/" target="blank">
              <div class="article-image has-overlay" style="background-image: url(<%= asset_path 'imaguana.png' %>)">
                <span class="featured-tag">Group Project</span>
              </div>
            </a>
            <figure>
              <figcaption>
                <h2 id="project-name">Imaguana (PHP/HTML/CSS/JS)</h2>
                <p>Imaguana is a concept image hosting website. It deals with the licensing of artist’s images/videos. Artist or customers can sign up for an account and peform their desired action. Imaguana has many neat features for artist such as the ability to upload images/videos, set up a profile page, etc. There's also cool features for customers, such as searching for images/videos, previewing images, saving purchase history and MORE! (NOTE: This site is for demonstration purposes only)</p>
              </figcaption>
            </figure>
            <a href = "http://imag-uana.rhcloud.com/" target="_blank" class = "pButton">Visit Website</a>&nbsp;&nbsp;
            <a href = "https://github.com/Twinpair/Imaguana" target="_blank" class = "pButton">Source Code</a>&nbsp;&nbsp;
            <a style="margin-top: 5px;" href = "https://drive.google.com/file/d/0B-4Vah9LEYrLeXhuZG1VZ0ViMVJlV01pR1o3NGlUOEUzeW53/view" target="_blank" class = "pButton">View Documentation</a> 
          </article>
        </div>
      </div>
      <div class="row" id="f">
      <div class="col-md-4">
          <article class="article-post">
            <a href="https://fierce-lowlands-55493.herokuapp.com/" target="blank">
              <div class="article-image has-overlay" style="background-image: url(<%= asset_path 'eventor.png' %>)">
                <span class="featured-tag">Solo Project</span>
              </div>
            </a>
            <figure>
              <figcaption>
                <h2 id="project-name">Eventor (Ruby on Rails)</h2>
                <p>Eventor is a event manager web application built with the Ruby on Rails framework. Once a user signs up, they can explore, create, and attend events. Users can also search events by name, zip code, city, and categories. From a user's profile page you can filter events by the ones they created or attended. 
                </p>
              </figcaption>
            </figure>
            <a href = "https://fierce-lowlands-55493.herokuapp.com/" target="_blank" class = "pButton">Visit Website</a>&nbsp;&nbsp;
            <a href = "https://github.com/Twinpair/Eventor" target="_blank" class = "pButton">Source Code</a>
          </article>
        </div>
        <div class="col-md-4">
          <article class="article-post">
            <a href="https://drive.google.com/file/d/0B-4Vah9LEYrLTV9XejdIOElSbUk/view?usp=sharing" target="blank">
              <div class="article-image has-overlay" style="background-image: url(<%= asset_path 'tank.png' %>)">
                <span class="featured-tag">Solo Project</span>
              </div>
            </a>
            <figure>
              <figcaption>
                <h2 id="project-name">Tank Wars Game (Java)</h2>
                <p>This is a two player game that allows you and a friend to go head to head in TANKS! The map is design for user tactics and stealthy maneuvers, it is also DESTRUCTABLE! Both players start with 3 lives. Player 1 controls are: a key(left), w key(forward), d key(right), s key(back), and space bar(shoot). Player 2 controls are: left arrow key, up arrow key(forward), right arrow key, down arrow key(back), and enter(shoot). Download the jar file to play it now! (JDK needed. Download <a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html">here</a>.)</p>
              </figcaption>
            </figure>
            <a href = "https://drive.google.com/file/d/0B-4Vah9LEYrLUHFUTkZFaGVvWXc/view?usp=sharing" target="_blank" class = "pButton">Play Now (20MB Download)</a>&nbsp;&nbsp;
            <a href = "https://github.com/Twinpair/Lazarus-Game" target="_blank" class = "pButton">Source Code</a>
          </article>
        </div>
        <div class="col-md-4">
          <article class="article-post">
            <a href="https://drive.google.com/file/d/0B-4Vah9LEYrLTV9XejdIOElSbUk/view?usp=sharing" target="_blank">
              <div class="article-image has-overlay" style="background-image: url(<%= asset_path 'lazarus.jpg' %>)">
                <span class="featured-tag">Solo Project</span>
              </div>
            </a>
            <figure>
              <figcaption>
                <h2 id="project-name">Lazarus Game (Java)</h2>
                <p>This is a single player game about survivial! You have to try to get your lazarus character to the top of the structure, to press the stop button, without getting squished by a box. Boxes stack if they overlap each other, but they can also break if a heavier box lands over it. The box hiearchy goes as: Cardboard --> Wood --> Metal --> Stone. The controls are: left arrow key and right arrow key. Download the jar file to play it now! (JDK needed. Download <a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html">here</a>.)</p>
              </figcaption>
            </figure>
            <a href = "https://drive.google.com/file/d/0B-4Vah9LEYrLTV9XejdIOElSbUk/view?usp=sharing" target="_blank" class = "pButton">Play Now (33MB Download)</a>&nbsp;&nbsp;
            <a href = "https://github.com/Twinpair/Lazarus-Game" target="_blank" class = "pButton">Source Code</a>
          </article>
        </div>
      </div>
      <div class="row" id="f">
        <div class="col-md-4">
          <article class="article-post">
            <a href="http://thecity.sfsu.edu/~twinpair/etchasketch.html" target="blank">
              <div class="article-image has-overlay" style="background-image: url(<%= asset_path 'sketch.png' %>)">
                <span class="featured-tag">Solo Project</span>
              </div>
            </a>
            <figure>
              <figcaption>
                <h2 id="project-name">Etch-A-Sketch (HTML/CSS/JS)</h2>
                <p>A fun interactive Etch-A-Sketch made with HTML, CSS, and Javascript. You can reset and resize the table by pressing the 'Clear Grid' button at the very top of the page!</p>
              </figcaption>
            </figure>
            <a href = "http://thecity.sfsu.edu/~twinpair/etchasketch.html" target="_blank" class = "pButton">Visit Website</a>&nbsp;&nbsp;
            <a href = "https://github.com/Twinpair/The-Odin-Project/tree/master/Etch-A-Sketch" target="_blank" class = "pButton">Source Code</a>
          </article>
        </div>
        <div class="col-md-4">
          <article class="article-post">
            <a href="https://arcane-hollows-95252.herokuapp.com/">
              <div class="article-image has-overlay" style="background-image: url(<%= asset_path 'acquaintion.png' %>)">
                <span class="featured-tag">Solo Project</span>
              </div>
            </a>
            <figure>
              <figcaption>
                <h2 id="project-name">Acquantion (Ruby on Rails)</h2>
                <p>"Follow and be followed" Acquaintion is a basic Twitter clone built with the Ruby on Rails framework. It takes advantage of many web app features such as validating email before account can be used, using AWS for image storing, restricting user's from seeing certain pages unitl they have verified their account, etc.</p>
              </figcaption>
            </figure>
            <a href = "https://arcane-hollows-95252.herokuapp.com/" target="_blank" class = "pButton">Visit Website</a>&nbsp;&nbsp;
            <a href = "https://github.com/Twinpair/Acquaintion" target="_blank" class = "pButton">Source Code</a>
          </article>
        </div>
        <div class="col-md-4">
          <article class="article-post">
            <a href="https://ericbloggerapp.herokuapp.com/" target="blank">
              <div class="article-image has-overlay" style="background-image: url(<%= asset_path 'blogger.png' %>)">
                <span class="featured-tag">Solo Project</span>
              </div>
            </a>
            <figure>
              <figcaption>
                <h2 id="project-name">Blogger Application (Ruby on Rails)</h2>
                <p>A simple blog application where anyone can post! No login is required to read the post on the site, but a logged in user can do so much more. Once logged in you can post your own blog post, comment on others blog post, or even search blog post by related tags!</p>
              </figcaption>
            </figure>
            <a href = "https://ericbloggerapp.herokuapp.com/" target="_blank" class = "pButton">Visit Website</a>&nbsp;&nbsp;
            <a href = "https://github.com/Twinpair/The-Odin-Project/tree/master/Rails%20Application%20-%20Blogger" target="_blank" class = "pButton">Source Code</a>
          </article>
        </div>
      </div>
    </div>
  </section>


  <!-- ========== CONTACT SECTION ========== -->
  <section id="contact" name="contact"></section>
  <div style="margin-top: -70px;" id="f">
    <div class="container">
      <div class="row">
        <h3>CONTACT ME</h3>
        <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
        <div class="col-lg-6 col-lg-offset-3">
          <p>Feel free to contact me through any of the methods listed below.<br>Also, don't forget to check out my <a href="https://drive.google.com/file/d/0B-4Vah9LEYrLckRjbmNBM080NmM/view?usp=sharing" target="_blank">resume</a>.</p>
          <p>Phone: <span style="color:#f85c37;">(415)490-6568</span><br>
          Email: <a href="mailto:Twinpaireric@gmail.com" ">Twinpaireric@gmail.com</a></p>
          <nav id="social">
            <ul class="social-buttons">
              <li><a title = "Github" href="https://github.com/Twinpair/" target="_blank"><i class="fa fa-github" id = "githubcircle"></i></a></li>
              <li><a title = "Linked In" href="https://www.linkedin.com/in/ericgonzalez1994" target="_blank"><i class="fa fa-linkedin" id = "linkedincircle"></i></a></li>
              <li><a title = "Facebook" href="https://www.facebook.com/EricGonzalez1994" target="_blank"><i class="fa fa-facebook" id = "facebookcircle"></i></a></li>
              <li><a title = "Twitter" href="https://twitter.com/e_gonzilla" target="_blank"><i class="fa fa-twitter" id = "twittercircle"></i></a></li>
              <li><a title = "Instagram" href="https://www.instagram.com/e_gonzilla/" target="_blank"><i class="fa fa-instagram" id = "instagramcircle"></i></a></li>
            </ul>
          </nav>
          <p style = "color: white;">You can also leave me a message below:</p>
          <%= form_for @contact do |f| %>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.label :name, :style => "color: #fff5f5;" %> <span style="color:#f85c37;">*</span>
                <%= f.text_field :name, :type => "text", :class => "form-control", :placeholder => "Name", :id => "name", :required => true %>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.label :email, :style => "color: #fff5f5;" %> <span style="color:#f85c37;">*</span>
                <%= f.text_field :email, :type => "email", :class => "form-control", :placeholder => "Email Address", :id => "email", :required => true %>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.label :message, :style => "color: #fff5f5;" %> <span style="color:#f85c37;">*</span>
                <%= f.text_area :message, :rows => "5", :class => "form-control", :placeholder => "Message", :id => "message", :required => true %>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12">
                <%= f.submit "Submit", :type => "submit", :class => "btn btn-success btn-lg" %>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <!-- ========== FOOTER ========== -->
  <nav id="footer">
    <div class="container">
      <div class="pull-left fnav">
        <p>ALL RIGHTS RESERVED. Eric Gonzalez © 2016</p>
      </div>
      <div class="pull-right fnav">
        <ul class="footer-social">
          <li><a href="https://github.com/Twinpair/Personal-Website" target="_blank">Source Code</a></li>
        </ul>
      </div>
    </div>
  </nav>