  <!-- ========== MENU ========== -->
  <%= render partial: "shared/nav_menu" %>


  <!-- ========== HEADER SECTION ========== -->
  <section id="home">
    <div id="headerwrap">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Eric Gonzalez</h1>
            <h3><b>Hello, World.</b></h3><br><br>
            <a href="#about" class="smoothScroll"><%= image_tag "profile.jpg", :class => "img-circle" %></a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- ========== ABOUT SECTION ========== -->
  <div id="particles_about"></div>
  <section id="about">
    <div class="container">
      <div class="row">
        <h2>ABOUT ME</h2>
        <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
        <div class="col-lg-10 col-lg-offset-1">
          <h3 class="sub-title">Myself</h3>
          <p class="align-left">Curiosity and an interest in technology drew me into the world of programming and development. I graduated from San Francisco State University with a Bachelor of Science Degree in Computer Science. I'm now a software engineer / full stack developer based in Los Angeles. I enjoy working in environments where I’m constantly needed and depended on. I am self-disciplined and always learning new things to get the job done.</p>

          <h3 class="sub-title">Development Experience</h3>
          <%= image_tag "tech-logos/rails.svg", class: "tech-logo" %>
          <%= image_tag "tech-logos/react.svg", class: "tech-logo" %>
          <%= image_tag "tech-logos/javascript.svg", class: "tech-logo" %>
          <%= image_tag "tech-logos/database.svg", class: "tech-logo" %>
          <%= image_tag "tech-logos/git.svg", class: "tech-logo" %>
          <p class="align-left">I'm adept with web development frameworks, particularly with <span class="emphasize">Ruby on Rails</span> and <span class="emphasize">Laravel</span>. I also have experience with front-end JS frameworks such as <span class="emphasize">React</span>, databases (<span class="emphasize">MySQL</span>, <span class="emphasize">PostgreSQL</span>, <span class="emphasize">SQLite</span>), and industry tools (<span class="emphasize">Git</span>, <span class="emphasize">AWS</span>, <span class="emphasize">Slack</span>, <span class="emphasize">Travis-Cl</span>, <span class="emphasize">Heroku</span>). Feel free to check out my <a href=<%= ENV['RESUME_LINK'] %> target="_blank">resume</a> for more.</p>

          <h3 class="sub-title">Interests</h3>
          <p class="align-left">I'm very passionate about anything that has to do with technology. My hobbies include being outdoors, watching and playing sports (mostly soccer and basketball), and reading up on anything tech. In my free time you'll probably find me playing video games, listening to new music, or taking a nap.</p>
        </div>                
      </div>
    </div>
  </section>


  <!-- ========== WORK EXPERIENCE SECTION ========== -->
  <section id="work-experience" class="latest-articles has-padding alternate-bg">
    <div id="work-experience-layout">
      <div class="container">
        <div class="row row-padded">
          <div class="col-md-12">
            <h2>WORK EXPERIENCE</h2>
            <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
            <%= render @experiences %>   
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <!-- ========== PORTFOLIO SECTION ========== -->  
  <section id="portfolio" class="latest-articles has-padding alternate-bg">
    <div class="container text-center">
      <div class="row">
        <h2>PORTFOLIO</h2>
        <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
        <%= render @projects %>
      </div>
    </div>
  </section>


  <!-- ========== CONTACT SECTION ========== -->
  <div id="particles_contact"></div>
  <section id="contact">
    <div class="container">
      <div class="row">
        <h2>CONTACT ME</h2>
        <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
        <div class="col-lg-6 col-lg-offset-3">
          <p>Feel free to contact me through any of the methods listed below. Also, don't forget to check out my <a href=<%= ENV['RESUME_LINK'] %> target="_blank">resume</a>.</p>
          <p>Email: <a href="mailto:contact@eric-gonzalez.com">contact@eric-gonzalez.com</a></p>
          <nav id="social">
            <ul class="social-buttons">
              <li><a title = "Github" href="https://github.com/Twinpair/" target="_blank"><i class="fa fa-github" id = "githubcircle"></i></a></li>
              <li><a title = "Linked In" href="https://www.linkedin.com/in/eric-gonzalez-" target="_blank"><i class="fa fa-linkedin" id = "linkedincircle"></i></a></li>
              <li><a title = "Facebook" href="https://www.facebook.com/egonzilla" target="_blank"><i class="fa fa-facebook" id = "facebookcircle"></i></a></li>
              <li><a title = "Twitter" href="https://twitter.com/e_gonzilla" target="_blank"><i class="fa fa-twitter" id = "twittercircle"></i></a></li>
              <li><a title = "Instagram" href="https://www.instagram.com/e_gonzilla/" target="_blank"><i class="fa fa-instagram" id = "instagramcircle"></i></a></li>
            </ul>
          </nav>
          <p>You can also leave me a message here:</p>
          <%= render partial: "shared/contact_form" %>
        </div>
      </div>
    </div>
  </section>


  <!-- ========== FOOTER ========== -->
  <nav id="footer">
    <div class="container">
      <div class="pull-left fnav">
        <p>Copyright © Eric Gonzalez, All Rights Reserved</p>
      </div>
      <div class="pull-right fnav">
        <ul class="footer-social">
          <li><p><a href="https://github.com/Twinpair/Personal-Website" target="_blank"><i class="fa fa-github"></i> Source Code</a></p></li>
        </ul>
      </div>
    </div>
  </nav>