  <!-- ========== MENU ========== -->
  <%= render partial: "shared/nav_menu" %>


  <!-- ========== HEADER SECTION ========== -->
  <section id="home">
    <div id="headerwrap">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Eric Gonzalez</h1>
            <h3><b>Hello, World.</b></h3><br><br>
            <a href="#about" class="smoothScroll"><%= image_tag "profile.jpg", :class => "img-circle" %></a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- ========== ABOUT SECTION ========== -->
  <div id="particles_about"></div>
  <section id="about">
    <div class="container">
      <div class="row">
        <h2>ABOUT ME</h2>
        <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
        <div class="col-lg-10 col-lg-offset-1">
          <h3 class="sub-title">Myself</h3>
          <p class="align-left">Curiosity and an interest in technology drew me into the world of programming and development. I graduated from San Francisco State University with a Bachelor of Science Degree in Computer Science. I'm now a software engineer / full stack developer based in Los Angeles. I enjoy working in environments where I’m constantly needed and depended on. I am self-disciplined and always learning new things to get the job done. Feel free to check out my <a href=<%= ENV['RESUME_LINK'] %> target="_blank">resume</a>.</p>

          <h3 class="sub-title">Development Experience</h3>
          <%= image_tag "tech-logos/rails.svg", class: "tech-logo" %>
          <%= image_tag "tech-logos/react.svg", class: "tech-logo" %>
          <%= image_tag "tech-logos/javascript.svg", class: "tech-logo" %>
          <%= image_tag "tech-logos/database.svg", class: "tech-logo" %>
          <%= image_tag "tech-logos/git.svg", class: "tech-logo" %>
          <div class="hero__terminal">
            <pre>
              <code class="shell-session demo"><span class="term_snip">eric_dev ~ $ </span></code>
            </pre>
          </div>

          <h3 class="sub-title">Interests</h3>
          <p class="align-left">I'm very passionate about anything that has to do with technology. My hobbies include being outdoors, watching and playing sports (mostly soccer and basketball), and reading up on anything tech. In my free time you'll probably find me playing video games, listening to new music, or taking a nap.</p>
        </div>                
      </div>
    </div>
  </section>


  <!-- ========== WORK EXPERIENCE SECTION ========== -->
  <section id="work-experience" class="latest-articles has-padding alternate-bg">
    <div id="work-experience-layout">
      <div class="container">
        <div class="row row-padded">
          <div class="col-md-12">
            <h2>WORK EXPERIENCE</h2>
            <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
            <%= render @experiences %>   
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <!-- ========== PORTFOLIO SECTION ========== -->  
  <section id="portfolio" class="latest-articles has-padding alternate-bg">
    <div class="container text-center">
      <h2>PORTFOLIO</h2>
      <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
      <div class="row" style="margin-bottom: 20px">
        <h4>Client Work</h4>
        <hr style="width: 300px; margin-left: auto; margin-right: auto;">
        <%= render @client_work %>
      </div>
      <div class="row">
        <h4>Personal and Group Projects</h4>
        <hr style="width: 300px; margin-left: auto; margin-right: auto;">
        <% @counter = 0 %>
        <%= render @projects %>
      </div>
    </div>
  </section>


  <!-- ========== CONTACT SECTION ========== -->
  <div id="particles_contact"></div>
  <section id="contact">
    <div class="container">
      <div class="row">
        <h2>CONTACT ME</h2>
        <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
        <div class="col-lg-6 col-lg-offset-3">
          <p>Feel free to contact me through any of the methods listed below. Also, don't forget to check out my <a href=<%= ENV['RESUME_LINK'] %> target="_blank">resume</a>.</p>
          <p>Email: <a href="mailto:contact@eric-gonzalez.com">contact@eric-gonzalez.com</a></p>
          <nav id="social">
            <ul class="social-buttons">
              <li><a title = "Github" href="https://github.com/Twinpair/" target="_blank"><i class="fa fa-github" id = "githubcircle"></i></a></li>
              <li><a title = "Linked In" href="https://www.linkedin.com/in/eric-gonzalez-" target="_blank"><i class="fa fa-linkedin" id = "linkedincircle"></i></a></li>
              <li><a title = "Facebook" href="https://www.facebook.com/egonzilla" target="_blank"><i class="fa fa-facebook" id = "facebookcircle"></i></a></li>
              <li><a title = "Twitter" href="https://twitter.com/e_gonzilla" target="_blank"><i class="fa fa-twitter" id = "twittercircle"></i></a></li>
              <li><a title = "Instagram" href="https://www.instagram.com/e_gonzilla/" target="_blank"><i class="fa fa-instagram" id = "instagramcircle"></i></a></li>
            </ul>
          </nav>
          <p>You can also leave me a message here:</p>
          <%= render partial: "shared/contact_form" %>
        </div>
      </div>
    </div>
  </section>


  <!-- ========== FOOTER ========== -->
  <nav id="footer">
    <div class="container">
      <div class="pull-left fnav">
        <p>Copyright © Eric Gonzalez, All Rights Reserved</p>
      </div>
      <div class="pull-right fnav">
        <ul class="footer-social">
          <li><p><a href="https://github.com/Twinpair/Personal-Website" target="_blank"><i class="fa fa-github"></i> Source Code</a></p></li>
        </ul>
      </div>
    </div>
  </nav>