<% if @counter % 3 == 0 && @counter != 0%>
  </div>
  <div class="row" id="f">
<% end %>    
    <div class="col-md-4">
      <article class="article-post">
        <a href="<%= project.website %>" target="_blank">
          <div class="article-image has-overlay" style="background-image: url(<%= project.picture.url %>)">
            <span class="featured-tag"><%= project.project_type %></span>
          </div>
        </a>
        <figure>
          <figcaption>
            <h2 id="project-name"><%= project.name %></h2>
            <p><%= project.description %></p>
          </figcaption>
        </figure>
        <% if @edit_button %>
          <%= link_to "Edit (Order: #{project.order_listed})", edit_project_url(project.id), class: "pButton" %>&nbsp;&nbsp;
          <%= link_to "Delete", project, method: :delete, data: { confirm: "You sure?" }, class: "pButton" %>
        <% else %>
          <% if project.website.include?("drive.google") %>
            <%= link_to "Download", project.website, target: "blank", class: "pButton" %>&nbsp;&nbsp;
          <% else %>
            <%= link_to "Visit Website", project.website, target: "blank", class: "pButton" %>&nbsp;&nbsp;
          <% end %>
        <%= link_to "Source Code", project.github, target: "blank", class: "pButton" %>&nbsp;&nbsp;
          <% if !project.documentation.nil? && !project.documentation.blank? %>
            <%= link_to "View Documentation", project.documentation, target: "blank", class: "pButton doc" %>
          <% end %>
        <% end %>
      </article>
    </div>
<% @counter = @counter + 1 %>