<div style="margin-left: 20px;">
  <h2><%=@contact.name%> has left a message for you at <a href="http://www.eric-gonzalez.com/">eric-gonzalez.com</a></h2>
  <h3>Details below:</h3>
  <p>Name: <%= @contact.name %></p>
  <p>Email: <%= @contact.email %></p>
  <p>Date: <%= @contact.created_at.strftime("%B %d, %Y") %></p>
  <p>Message: <%= @contact.message %></p>
</div>